openapi: 3.0.1
info:
  title: Companies API
  description: This api returns company information
  termsOfService: http://swagger.io/terms/
  contact:
    email: sergekeyser@gmail.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
externalDocs:
  description: Find out more about this api
  url: https://github.com/sergekeyser/companies-api
servers:
- url: http://interview.sergekeyser.com/v1/api
tags:
- name: config
  description: Company configuration
paths:
  /companies:
    get:
      tags:
      - config
      summary: Retrieve companies
      operationId: get-companies
      parameters:

      - name: lastReportedFrom
        in: query
        description: Starting date (UTC) from when the report was published (defaults to 1900-01-01T00:00:00Z) 
        schema:
          type: string
          format: date-time
        required: false
        example: "2021-10-12T00:00:00Z"

      - name: lastReportedTo
        in: query
        description: End date (UTC) from when the report was published (defaults to the date and time that the request was made)
        required: false
        schema:
          type: string
          format: date-time
        example: "2021-11-12T00:00:00Z"

      - name: nextReportingFrom
        in: query
        description: Starting period in time on which the numbers of the company will be published (defaults to the time and date that the request is made), this can either be a date (like 2020-01-01) or a datetime (2020-12-31T23:59:59Z) or a year month (2021-12) or the word "never" in case the company is taken off the market
        schema:
            $ref: "#/components/schemas/nextReported"
        required: false
        example: "2021-10"

      - name: nextReportingTo
        in: query
        description: End period in time on which the numbers of the company will be published (defaults to the time and date that the request is made), this can either be a date (like 2020-01-01) or a datetime (2020-12-31T23:59:59Z) or a year month (2021-12) or the word "never" in case the company is taken off the market
        schema:
           $ref: "#/components/schemas/nextReported"
        required: false
        example: "2021-11-01T00:00:00Z"

      - name: estimatedTimeInDay
        in: query
        description: An estimate on when during the day the report would be presented,
          if no estimate is available please select noEstimate
        schema:
             $ref: '#/components/schemas/estimatedTimeInDay'
        example: midDay
      
      - name: includeNotReported
        in: query
        description: Include in the response the companies that have no lastReported date set (i.e. these companies have never reported their numbers)
        schema:
           type: boolean
        required: false
        example: false
      
      - name: page
        in: query
        description: The page to be returned, defaults to page 0
        schema:
          type: integer
          minimum: 0
          default: 0
        required: false
        example: 0
      
      - name: resultsPerPage
        in: query
        description: The max number of results to be returned in this page, defaults to 10 and has a max of 1000 results (to keep the database performant enough)
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 10  
      responses:
        200:
          description: Successfully posted request to retrieve data, data returned
            in body of response
          content: 
               application/json:
                  schema:
                    $ref: '#/components/schemas/pagedReportingDate'
        204:
          description: In case no data matches the request, a 204 is returned
        400:
          description: In case the request fields do not contain the correct datatypes
          content:
             application/json:
                 schema: 
                    $ref: '#/components/schemas/inputValidationErrorObject'
        500:
          description: In case of an undocumented error

      security:
      - companies_auth:
        - read:reportingDate
      - api_key: []
  /companies/{companyId}/reportingDate:
    patch:
      tags:
      - config
      summary: Update reporting dates for a company
      operationId: patch-companiesByCompanyIdReportingDate
      parameters:
      - name: companyId
        in: path
        description: The id of the company for which the reporting date is retrieved
        required: true
        schema:
          type: string
        example: abcd1234
      requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reportingDate'
      responses:
        200:
          description: 'Succesfully posted the data, '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/genericResponseObject'
        400:
          description: Invalid status value
          content: {}
      security:
      - companies_auth:
        - write:reportingDate
        - read:reportingDate
components:
  schemas:
    
#Date fields
    
    reportingDate:
      type: object
      properties:
        id:
          type: string
          example: "1234AB"
        lastReported:
          type: string
          description: The date time in UTC when the last report was published
          format: date-time
        nextReported:
          $ref: '#/components/schemas/nextReported'
        estimatedTimeInDay:
          $ref: '#/components/schemas/estimatedTimeInDay'
      required:
        - id
    pagedReportingDate:
      type: object
      properties:
        data:
         type: array
         items: 
           $ref: '#/components/schemas/reportingDate'
        paging:
           $ref: '#/components/schemas/pagingObject'
    
    estimatedTimeInDay:          
      description: Estimation on when during the day the report is delivered
      type: string
      enum: 
        - preMarketOpen
        - postMarketClose
        - morning
        - midDay
        - afternoon
        - noEstimate
    
    nextReported:
          oneOf:
           - type: string
             format: "date-time"
           - type: string
             format: "date"
           - type: string
             pattern: ([0-9]){4}\-(([0][1-9])|([1][0-2]))
           - type: string
             enum:
                - "never"
          example: "2021-12"
    
#Reusable generic objects    
    genericResponseObject:
       description: Object with a success response
       type: object
       properties:
         success:
            description: true if response was a success else false
            type: boolean
            example: false
         errorMessage:
            description: Short description of the encountered error, absent if success is true
            type: string
            example: Company code ?!"£" is not a valid company code
         errorCode:
            description: Code to describe the error, see documentation on github for error codes
            type: string
            example: "205-invalidCmpyCode"
            
    pagingObject:
       description: Object returned when paging, this facilitates easy paging for the consumer
       type: object
       properties:
         previousPageLink:
           description: Link to previous page will be null if page is 0
           type: string
           example: "http://myserver.com/v1/api/object?page=0&results=20"
         nextPageLink:
           description: Link to next page
           type: string
           example: "http://myserver.com/v1/api/object?page=2&results=20"
         numberOfResults:
           description: Total number of results returned in page
           type: integer
           example: 20
         hasMore:
           description: If there are more results in the next page
           type: boolean
           example: true
         currentPage:
           description: Number of the current page
           type: integer
           example: 1
    
    inputValidationErrorObject:
         description: Object returned when the input fails validation
         type: array
         items:
          type: object
          properties:
            fieldName:
               description: The name of the field that failed validation
               type: string
               example: estimateTimeInDay
            error: 
               description: An error message describing the error
               type: string
               example: Can only contain one of preMarketOpen , postMarketClose , morning , midDay , afternoon , noEstimate, value "midAfternoon" not valid
    

       
  securitySchemes:
    companies_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: http://auth0.com/oauth/dialog
          scopes:
            write:reportingDate: ""
            read:reportingDate: ""
    api_key:
      type: apiKey
      name: api_key
      in: header
